.section_imagenes{
    display: flex;
    height: fit-content;
    background-color: $color-background;
    height: 700px;
    
    .div_ubicaciones{
        overflow: hidden;
        position: relative;
        width: 35%;
        height: 700px;
        
        h3{
            position: absolute;
            color: grey;
            background-color: rgba(255,255,255,0.7);
            padding: 10px 70px;
            top: 140px;
            right: -145px;
            text-align: center;
            text-transform: uppercase;
            transform: rotate(-90deg);
            font-weight: 600;
        }
    }
    .div_alquileres{
        position: relative;
        overflow: hidden;
        height: 700px !important;
        padding-left: 40px;
        width: 65%;
        .titulo_alquileres{
            position: absolute;
            text-transform: uppercase;
            right: 80px;
            top: 20px;
            font-size: 30px;
            color: white;
            font-weight:900;
        }
        .titulo_hogar{
            position: absolute;
            bottom: -1.5%;
            padding: 10px 40px;
            font-weight:900;
            font-size: 50px;
            color: grey;
            background-color: rgba(255,255,255,0.7);
        }
        img{
            height: 100%;
            width: 100%;
        }
    }
}